body{
    background-color: rgb(255, 138, 138);
}

form{
    width: 300px;
    text-align:center;
    margin: 300px;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid;
    background-color:rgb(228, 27, 27);
    font-family:Arial, Helvetica, sans-serif;
    display:block;
}

input{
    display:block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}